<section class="view-worker" ng-controller="ViewWorkerController as vm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>{{ ::vm.worker.name }}</h1>
        <hr>
        <div class="row">
          <div class="col-lg-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Etiquetas</h3>
              </div>
              <div class="panel-body">
                <span class="label label-primary" ng-repeat="tag in vm.worker.tags">{{ tag }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <img src="{{ vm.worker.photo }}" class="img-thumbnail">
              </div>
            </div>
          </div>
          <div class="col-lg-9 well">
            <h3>Datos del Empleado</h3>
            <hr>
            <dl class="dl-horizontal">
              <dt>Nombre</dt>
              <dd>{{ ::vm.worker.name }}</dd>
              <dt>Apellidos</dt>
              <dd>{{ ::vm.worker.surname }}</dd>
              <dt>Departamento</dt>
              <dd>{{ ::vm.worker.department }}</dd>
              <dt>Puesto</dt>
              <dd>{{ ::vm.worker.job }}</dd>
              <dt>Fecha de ingreso</dt>
              <dd>{{ ::vm.worker.date | date }}</dd>
              <dt>Salario</dt>
              <dd>{{ ::vm.worker.salary | currency }}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
